{% extends 'base.html' %}
{% load static %}

{% block title %}Monthly Challenges 2024{% endblock title %}


{% block css-block %}
{% comment %} <link rel="stylesheet" href="{% static 'challenges/style.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'challenges/main.css' %}">
{% endblock css-block %}

{% block content %}

{% include "challenge/includes/header.html" %}

<h1>{{ month | title }}'s Challenge</h1>

    {% if text is not None %} 
        <h2>{{ text }}</h2>
    {% else %}
        <p class="fallback">There is no challenge!</p>
    {% endif %}
    
{% endblock content %}
