h1, h2 {
    text-align: center;
    font-weight: bold;
    color: rgb(160, 240, 240);
}


h1{
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
    font-weight: normal;
    color: rgb(211, 26, 88);
}


h2{
    font-size: 3rem;   
}


.fallback { 
    font-size: 3rem; 
    text-align: center;
    color: red;
    font-weight: bold;
}



/* Header */

header {
    width: 100%;
    height: 5rem;
    background-color: rgb(37, 36, 36);
}

header nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

header nav a:hover, header nav li:active {
    color: rgb(228, 25, 177);
}